---
title: Content type template

# true if the page is included in the menu
listed: false
# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
content_type: work

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}

<div class="large-panel small-12 column center work-header" style='background: transparent url(/{{work.enviromental_image.url }}) no-repeat top left; background-size: fill;'>
    <img src="/{{ work.logo_image.url }}"  alt="{{ work.company }}" class='logo' >
</div>
<div class="row">
  <div class="large-10 large-offset-1 small-panel column">
    <h1>{{ work.title }}</h1>

    {{ work.body }}
  </div>
</div>
{% endblock %}
