---
title: Home page
published: true
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">
    {% if page.meta_description %}
      <meta name="description" content="{{ page.meta_description }}">
    {% else %}
      <meta name="description" content="{{ site.meta_description }}">
    {% endif %}

    <title>
      {{ page.title }} - {{ site.name }} |
      {% if page.seo_title %}
        {{ page.seo_title }}
      {% else %}
        {{ site.seo_title }}
      {% endif %}
    </title>
    {{ 'application.css' | stylesheet_tag }}
    {{ 'vendor/modernizr.min.js' | javascript_tag }}
    {% inline_editor %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="row">
      <div class="large-12 columns">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    {% nav "site", no_wrapper: true, active_class: "active" %}
    {% block 'main' %}
        <section class='hero'>
          <h1>Helping you improve your businees using Design, Development and Growth goals!</h1>
          <p>We help you understand, design and build simple appropriate technology solutions.</p>
        </section>
        <section class='row expanded'>
          <h1>Who are we?</h1>
          <p>We are a team of developers and designers who care about moving web presences forward.</p>

          <ul class="inline">
            <li><a href="/team">Meet our team</a></li>
          </ul>
        </section>
        <section class='expanded row'>
          <h1>What have we done?</h1>
          <p>We have experience working with large and small companies supporting new project and growing existing offering. We also run some products of our own.</p>

          <ul class="inline">
            <li><a href="/work">Client Work</a></li>
            <li><a href="/products">Our products</a></li>
          </ul>
        </section>
        <section class='expanded row'>
          <h1>How can we help you?</h1>
          <p>Your goals and needs are unique, we work with you to try to understand these needs and bring in the appropriate resources to help you attain your goals.</p>
          <ul class="inline">
            <li><a href="/development">Development</a></li>
            <li><a href="/design">Design</a></li>
          </ul>
        </section>
    {% endblock %}
    {{ 'vendor/jquery.min.js' | javascript_tag }}
    {{ 'foundation.min.js' | javascript_tag }}
    <!--
    {{ 'foundation.abide.js' | javascript_tag }}
    {{ 'foundation.accordion.js' | javascript_tag }}
    {{ 'foundation.alert.js' | javascript_tag }}
    {{ 'foundation.clearing.js' | javascript_tag }}
    {{ 'foundation.dropdown.js' | javascript_tag }}
    {{ 'foundation.interchange.js' | javascript_tag }}
    {{ 'foundation.joyride.js' | javascript_tag }}
    {{ 'foundation.js' | javascript_tag }}
    {{ 'foundation.magellan.js' | javascript_tag }}
    {{ 'foundation.offcanvas.js' | javascript_tag }}
    {{ 'foundation.orbit.js' | javascript_tag }}
    {{ 'foundation.reveal.js' | javascript_tag }}
    {{ 'foundation.tab.js' | javascript_tag }}
    {{ 'foundation.tooltip.js' | javascript_tag }}
    {{ 'foundation.topbar.js' | javascript_tag }}
    -->
    <script>
    $(document).foundation();
    </script>
  </body>
</html>
