---
title: Home page
published: true
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">
    {% if page.meta_description %}
      <meta name="description" content="{{ page.meta_description }}">
    {% else %}
      <meta name="description" content="{{ site.meta_description }}">
    {% endif %}

    <title>
      {{ page.title }} - {{ site.name }} |
      {% if page.seo_title %}
        {{ page.seo_title }}
      {% else %}
        {{ site.seo_title }}
      {% endif %}
    </title>
    {{ 'application.css' | stylesheet_tag }}
    {{ 'vendor/modernizr.min.js' | javascript_tag }}
    {% inline_editor %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Bright Black</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          {% nav "site", no_wrapper: true, active_class: "active" %}
        </ul>

      </section>
    </nav>

    {% block 'main' %}

        <section class='row expanded panel full-height vertical-align'>
          <div class="large-12 columns center">
            <h1>Intelligent <a href="/design">Design</a> and <a href="/development">Development</a> solutions to grow your product!</h1>
            <p>We help you understand, design and build simple appropriate technology solutions.</p>
            <a href="/contact" class='button'>Let's Start Working Together</a>
          </section>
          <section class='row expanded panel hero'>
            <div class="large-12 columns center">
              <h1>Who are we?</h1>
              <p>We are a team of developers and designers who care about moving web presences forward.</p>

              <ul class="inline-list center">
                <li><a href="/team">Meet our team</a></li>
              </ul>
            </div>
          </div>
        </section>
        <section class='expanded row panel hero'>
          <div class="large-12 columns center">
            <h1>What have we done?</h1>
            <p>We have experience working with large and small companies supporting new project and growing existing offering. We also run some products of our own.</p>

            <ul class="inline-list center">
              <li><a href="/work">Client Work</a></li>
              <li><a href="/products">Our products</a></li>
            </ul>
          </div>
        </section>
        <section class='expanded row panel hero'>
          <div class="large-12 columns center">
            <h1>How can we help you?</h1>
            <p>Your goals and needs are unique, we work with you to try to understand these needs and bring in the appropriate resources to help you attain your goals.</p>
            <ul class="inline-list center">
              <li><a href="/development">Development</a></li>
              <li><a href="/design">Design</a></li>
            </ul>
          </div>
        </section>
    {% endblock %}
    <footer class='expanded row bg-black'>
      <div class="large-12 columns">
        <p class='center'>All content © Bright Black, {{ 'now' | date: '%Y' }}</p>

    </div>
    </footer>

    {{ 'vendor/jquery.min.js' | javascript_tag }}
    {{ 'foundation.min.js' | javascript_tag }}
    <!--
    {{ 'foundation.abide.js' | javascript_tag }}
    {{ 'foundation.accordion.js' | javascript_tag }}
    {{ 'foundation.alert.js' | javascript_tag }}
    {{ 'foundation.clearing.js' | javascript_tag }}
    {{ 'foundation.dropdown.js' | javascript_tag }}
    {{ 'foundation.interchange.js' | javascript_tag }}
    {{ 'foundation.joyride.js' | javascript_tag }}
    {{ 'foundation.js' | javascript_tag }}
    {{ 'foundation.magellan.js' | javascript_tag }}
    {{ 'foundation.offcanvas.js' | javascript_tag }}
    {{ 'foundation.orbit.js' | javascript_tag }}
    {{ 'foundation.reveal.js' | javascript_tag }}
    {{ 'foundation.tab.js' | javascript_tag }}
    {{ 'foundation.tooltip.js' | javascript_tag }}
    {{ 'foundation.topbar.js' | javascript_tag }}
    -->
    <script>
    $(document).foundation();
    </script>
  </body>
</html>
