---
title: Home page
published: true
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">
    {% if page.meta_description %}
      <meta name="description" content="{{ page.meta_description }}">
    {% else %}
      <meta name="description" content="{{ site.meta_description }}">
    {% endif %}

    <title>
      {{ page.title }} - {{ site.name }} |
      {% if page.seo_title %}
        {{ page.seo_title }}
      {% else %}
        {{ site.seo_title }}
      {% endif %}
    </title>
    {{ 'application.css' | stylesheet_tag }}
    {{ 'vendor/modernizr.min.js' | javascript_tag }}
    {% inline_editor %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class='{{ page.handle | handleize }}'>
    <div class='contain-to-grid sticky bg-black'>
    <nav class="top-bar bg-black" data-topbar role="navigation" data-options='sticky_on: large'>
      <ul class="title-area">
        <li class="name">
          <h1 class='bold'><a href="/" class='bold'>:: BrightBlack</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right bg-black">
          {% nav "site", no_wrapper: true, active_class: "active" %}
        </ul>

      </section>
    </nav>
    </div>
    <div class='bg-black center header-site large-12' id="branding">
      <h1 class='logo'><a href="/">BrightBlack</a></h1>
      <ul class="center nav">
        {% nav 'site', no_wrapper: true, active_class: 'active' %}
      </ul>
    </div>


    {% block 'main' %}

        <section class='row expanded panel vertical-align large-panel'>
          <div class="large-12 columns center">
            <h1>Intelligent <a href="/design">Design</a> and <a href="/development">Development</a> solutions to grow your product!</h1>
            <p>We help you understand, design and build simple appropriate technology solutions.</p>
            <a href="#contact" class='button'>:: Let's Start Working Together</a>
          </section>
          <section class='expanded row panel small-panel'>
            <div class="large-12 columns center">
              <h1>Recent Work.</h1>
              <p class='large-offset-1 large-10 end'>We have experience working with large and small companies supporting new project and growing existing offering. We also run some products of our own.</p>
              {% for post in contents.work limit: 1 %}
                {% include work_teaser, post: post %}
              {% endfor %}
            </div>
          </section>

          <section class='row expanded panel small-panel'>
            <div class="large-12 columns center">
              <h1>What we do?</h1>

              <div class="large-5 large-offset-1 columns small-panel callout">

                <img src="{{ 'design-thinking.jpeg' | theme_image_url |  resize: '220x100#' }}" alt="Branding">
                <h3>Discovery</h3>
                <p class='left-text'>You cannot improve a situation you do not understand. We believe that any serious improvements to a product requires a great amount of empathy for the problem, users and goals. We utilize job shadowing, design thinking, user interviews and rapid prototyping to come up with sensible improvements and road maps for your product.</p>
              </div>
              <div class="large-5 columns end small-panel callout">

                <img src="{{ 'ux.jpeg' | theme_image_url |  resize: '100x100#' }}" alt="UI/UX">
                <h3>UI/UX</h3>
                <p class='left-text'>Great design makes interfaces disappear. We believe that the design of the site should aim to help make processes easier and faster. We iterate on our designs until the solutions offers a intuitive, useful experience that meets your goals.
              </div>
              <div class="large-5 large-offset-1 columns clear-left small-panel callout">

                <img src="{{ 'terminal.png' | theme_image_url |  resize: '100x100#' }}" alt="Development">
                <h3>Development</h3>
                <p class='left-text'>We believe in TDD, Agile and the right tool for the job. We are polyglot programmers offering many avenues to implement your solutionin a practicle maintainable fashion. Often we turn to Ruby, Rails, Postgres, Angular and Python but we have other tools in our box as well.</p>
              </div>
              <div class="large-5 columns end small-panel callout">

                <img src="{{ 'branding.jpeg' | theme_image_url |  resize: '100x100#' }}" alt="Branding">
                <h3>Branding</h3>
                <p class='left-text'>We have a unique strength in branding, our sister company Pfaltzgraphic offers excellent branding capabilities. From style guides to logos we have worked with brands large and small alike and can provide stunning branding packages.</P>
              </div>
          </div>
        </section>


        <section class='row expanded panel small-panel'>
          <div class="large-12 columns center">
            <h1>Who are we?</h1>
            <p>We are a small team of developers and designers who care about moving web presences forward.</p>
						{% for member in contents.team_member %}
              <div class="large-5 columns {% cycle 'large-offset-1','end' %} small-panel callout">
                <h2>
                  {{ member.name }}
                </h2>
                <p class="description">
                  {{ member.description }}
                </p>
              </div>
						{% endfor %}
          </div>
        </div>
      </section>
    {% endblock %}
    <footer class='row expanded bg-grey'>
      <div class="small-panel">
        <a name="contact" id='contact'></a>
        {% include contact_form %}
      </div>

      <div class="large-12 columns">
        <p class='center text-white'>
        All content © Bright Black, {{ 'now' | date: '%Y' }}
        </p>
      </div>
    </footer>

    {{ 'vendor/jquery.min.js' | javascript_tag }}
    {{ 'foundation.min.js' | javascript_tag }}
    <!--
    {{ 'foundation.abide.js' | javascript_tag }}
    {{ 'foundation.accordion.js' | javascript_tag }}
    {{ 'foundation.alert.js' | javascript_tag }}
    {{ 'foundation.clearing.js' | javascript_tag }}
    {{ 'foundation.dropdown.js' | javascript_tag }}
    {{ 'foundation.interchange.js' | javascript_tag }}
    {{ 'foundation.joyride.js' | javascript_tag }}
    {{ 'foundation.js' | javascript_tag }}
    {{ 'foundation.magellan.js' | javascript_tag }}
    {{ 'foundation.offcanvas.js' | javascript_tag }}
    {{ 'foundation.orbit.js' | javascript_tag }}
    {{ 'foundation.reveal.js' | javascript_tag }}
    {{ 'foundation.tab.js' | javascript_tag }}
    {{ 'foundation.tooltip.js' | javascript_tag }}
    {{ 'foundation.topbar.js' | javascript_tag }}
    -->
    <script>
    $(document).foundation();
    </script>
  </body>
</html>
